<div class="flex flex-col justify-center items-center h-full w-full">
  <div
    class="flex flex-col lg:flex-row px-8 lg:px-24 items-center h-full w-full lg:justify-center pt-16 lg:pt-0 gap-10 lg:gap-0"
  >
    <div class="flex justify-center lg:h-full items-center">
      <div
        class="w-3/4 h-32 lg:h-72 lg:w-[512px] absolute -z-0 rounded-full blur-2xl bg-gradient-to-r from-primary-200 to-primary-300 opacity-40"
      >
      </div>

      <div class="flex flex-col gap-6 z-10">
        <h1
          class="text-5xl lg:text-7xl font-bold text-secondary-600 font-poppins tracking-wide"
        >
          Russel Ariel Uc Puc
        </h1>
        <h2 class="font-garet tracking-wide text-2xl text-secondary">
          Desarrollador FullStack
        </h2>
      </div>
    </div>

    <div class="w-72 h-72 lg:h-[512px] lg:w-[512px] z-10">
      <img src="/home-screen-animate.svg" alt="screen-animate" />
    </div>
  </div>
</div>
